In [1]:
import pandas as pd

selected_columns = ['S002VS','COUNTRY_ALPHA','Y020', 'Y010', 'X003', 'X001','X025','X025R','X047_WVS','X007','X026','X028','X045']
data = pd.read_csv("/Users/zeynepzulfikar/Downloads/WVS_TimeSeries_4_0.csv", sep=',',usecols=selected_columns)

turkey_df = data[data['COUNTRY_ALPHA'] == 'TUR']

turkey_df.head()

,S002VS,COUNTRY_ALPHA,X001,X003,X007,X025,X025R,X026,X028,X045,X047_WVS,Y010,Y020
388271,5,TUR,1,37,1,2,1,0,3,3,2,0.115889,0.542778
388272,5,TUR,2,22,6,6,2,1,6,3,2,0.581667,0.323519
388273,5,TUR,2,34,1,1,1,1,5,3,1,0.151667,0.395000
388274,5,TUR,1,27,6,8,3,1,1,2,4,0.595833,0.372685
388275,5,TUR,2,42,1,6,2,0,5,2,4,0.650833,0.489352

In [2]:
print(turkey_df.isnull().sum())

S002VS             0
COUNTRY_ALPHA      0
X001               0
X003               0
X007               0
X025               0
X025R              0
X026               0
X028               0
X045               0
X047_WVS           0
Y010             570
Y020             236
dtype: int64

In [3]:
turkey_df_cleaned = turkey_df.dropna(subset=['Y010', 'Y020'])

print("\nCount of missing values after dropna:")
print(turkey_df_cleaned.isnull().sum())

Count of missing values after dropna:
S002VS           0
COUNTRY_ALPHA    0
X001             0
X003             0
X007             0
X025             0
X025R            0
X026             0
X028             0
X045             0
X047_WVS         0
Y010             0
Y020             0
dtype: int64

In [4]:
specific_values = [-1, -2, -3, -4, -5]
for value in specific_values:
    value_count_per_column = (turkey_df == value).sum()
    print(f"\nCount of rows with value {value} in each column:")
    print(value_count_per_column)

Count of rows with value -1 in each column:
S002VS             0
COUNTRY_ALPHA      0
X001               0
X003              17
X007              21
X025             243
X025R            244
X026              42
X028             104
X045             219
X047_WVS         291
Y010               0
Y020               0
dtype: int64

Count of rows with value -2 in each column:
S002VS             0
COUNTRY_ALPHA      0
X001               0
X003               6
X007              10
X025             102
X025R            110
X026              45
X028              49
X045             126
X047_WVS         124
Y010               0
Y020               0
dtype: int64

Count of rows with value -3 in each column:
S002VS             0
COUNTRY_ALPHA      0
X001               0
X003               0
X007               0
X025             668
X025R              0
X026               0
X028               0
X045               0
X047_WVS           0
Y010               0
Y020               0
dtype: int64

Count of rows with value -4 in each column:
S002VS              0
COUNTRY_ALPHA       0
X001                0
X003                0
X007                0
X025             2415
X025R               0
X026                0
X028                0
X045             1030
X047_WVS            0
Y010                0
Y020                0
dtype: int64

Count of rows with value -5 in each column:
S002VS           0
COUNTRY_ALPHA    0
X001             0
X003             1
X007             0
X025             0
X025R            0
X026             8
X028             0
X045             7
X047_WVS         4
Y010             0
Y020             0
dtype: int64

In [5]:
import pandas as pd

data = {'S002VS': [1, 2, -4, 4, 5],
        'COUNTRY_ALPHA': ['A', 'B', 'C', 'D', 'E'],
        'X001': [10, 20, 30, 40, 50],
        'X003': [5, 15, 25, 35, 45],
        'X007': [0, 1, 2, 3, 4],
        'X025': [100, 200, -4, -5, 500],
        'X025R': [50, 100, 150, 200, 250],
        'X026': [0, 1, 0, 1, 0],
        'X028': [1, 0, 1, 0, 1],
        'X045': [5, 10, 15, 20, 25],
        'X047_WVS': ['Y', 'N', 'Y', 'N', 'Y'],
        'Y010': [30, 40, 50, 60, 70],
        'Y020': [10, 20, 30, 40, 50]}

turkey_df = pd.DataFrame(data)

columns_to_check = ['S002VS', 'COUNTRY_ALPHA', 'X001', 'X003', 'X007', 'X025', 'X025R', 'X026',
                     'X028', 'X045', 'X047_WVS', 'Y010', 'Y020']

turkey_df_cleaned = turkey_df[~turkey_df[columns_to_check].isin([-4, -5]).any(axis=1)]

print("\nCount of missing values after dropna:")
print(turkey_df_cleaned.isnull().sum())

Count of missing values after dropna:
S002VS           0
COUNTRY_ALPHA    0
X001             0
X003             0
X007             0
X025             0
X025R            0
X026             0
X028             0
X045             0
X047_WVS         0
Y010             0
Y020             0
dtype: int64

In [6]:
import pandas as pd
from scipy.stats import ttest_ind

selected_columns = ['S002VS', 'COUNTRY_ALPHA', 'Y020', 'Y010', 'X003', 'X001', 'X025', 'X025R', 'X047_WVS', 'X007', 'X026', 'X028', 'X045']
data = pd.read_csv("/Users/zeynepzulfikar/Downloads/WVS_TimeSeries_4_0.csv", sep=',', usecols=selected_columns)
turkey_df = data[data['COUNTRY_ALPHA'] == 'TUR']
turkey_df_cleaned = turkey_df.dropna(subset=['Y010', 'Y020'])

s002vs_2 = turkey_df_cleaned[turkey_df_cleaned['S002VS'] == 2]
s002vs_3 = turkey_df_cleaned[turkey_df_cleaned['S002VS'] == 3]

t_statistic_y010_2, p_value_y010_2 = ttest_ind(s002vs_2['Y010'], s002vs_3['Y010'])

t_statistic_y020_2, p_value_y020_2 = ttest_ind(s002vs_2['Y020'], s002vs_3['Y020'])

print(f"\nT-test results for 'Y010' between S002VS=2 and S002VS=3:")
print(f"T-statistic: {t_statistic_y010_2}")
print(f"P-value: {p_value_y010_2}")

print(f"\nT-test results for 'Y020' between S002VS=2 and S002VS=3:")
print(f"T-statistic: {t_statistic_y020_2}")
print(f"P-value: {p_value_y020_2}")

T-test results for 'Y010' between S002VS=2 and S002VS=3:
T-statistic: -4.540460052954366
P-value: 5.889066770966046e-06

T-test results for 'Y020' between S002VS=2 and S002VS=3:
T-statistic: 2.4158074915940686
P-value: 0.01577422378265378

In [7]:
import pandas as pd
from scipy.stats import ttest_ind

selected_columns = ['S002VS', 'COUNTRY_ALPHA', 'Y020', 'Y010', 'X003', 'X001', 'X025', 'X025R', 'X047_WVS', 'X007', 'X026', 'X028', 'X045']
data = pd.read_csv("/Users/zeynepzulfikar/Downloads/WVS_TimeSeries_4_0.csv", sep=',', usecols=selected_columns)
turkey_df = data[data['COUNTRY_ALPHA'] == 'TUR']
turkey_df_cleaned = turkey_df.dropna(subset=['Y010', 'Y020'])

s002vs_3 = turkey_df_cleaned[turkey_df_cleaned['S002VS'] == 3]
s002vs_4 = turkey_df_cleaned[turkey_df_cleaned['S002VS'] == 4]

t_statistic_y010_3, p_value_y010_3 = ttest_ind(s002vs_3['Y010'], s002vs_4['Y010'])

t_statistic_y020_3, p_value_y020_3 = ttest_ind(s002vs_3['Y020'], s002vs_4['Y020'])

print(f"\nT-test results for 'Y010' between S002VS=3 and S002VS=4:")
print(f"T-statistic: {t_statistic_y010_3}")
print(f"P-value: {p_value_y010_3}")

print(f"\nT-test results for 'Y020' between S002VS=3 and S002VS=4:")
print(f"T-statistic: {t_statistic_y020_3}")
print(f"P-value: {p_value_y020_3}")

T-test results for 'Y010' between S002VS=3 and S002VS=4:
T-statistic: 0.7213505581078405
P-value: 0.47073002338447134

T-test results for 'Y020' between S002VS=3 and S002VS=4:
T-statistic: 0.3504182677835865
P-value: 0.7260406466655935

In [8]:
import pandas as pd
from scipy.stats import ttest_ind

selected_columns = ['S002VS', 'COUNTRY_ALPHA', 'Y020', 'Y010', 'X003', 'X001', 'X025', 'X025R', 'X047_WVS', 'X007', 'X026', 'X028', 'X045']
data = pd.read_csv("/Users/zeynepzulfikar/Downloads/WVS_TimeSeries_4_0.csv", sep=',', usecols=selected_columns)
turkey_df = data[data['COUNTRY_ALPHA'] == 'TUR']
turkey_df_cleaned = turkey_df.dropna(subset=['Y010', 'Y020'])

s002vs_4 = turkey_df_cleaned[turkey_df_cleaned['S002VS'] == 4]
s002vs_5 = turkey_df_cleaned[turkey_df_cleaned['S002VS'] == 5]

t_statistic_y010_4, p_value_y010_4 = ttest_ind(s002vs_4['Y010'], s002vs_5['Y010'])

t_statistic_y020_4, p_value_y020_4 = ttest_ind(s002vs_4['Y020'], s002vs_5['Y020'])

print(f"\nT-test results for 'Y010' between S002VS=4 and S002VS=5:")
print(f"T-statistic: {t_statistic_y010_4}")
print(f"P-value: {p_value_y010_4}")

print(f"\nT-test results for 'Y020' between S002VS=4 and S002VS=5:")
print(f"T-statistic: {t_statistic_y020_4}")
print(f"P-value: {p_value_y020_4}")

T-test results for 'Y010' between S002VS=4 and S002VS=5:
T-statistic: 3.409967833337221
P-value: 0.0006553332320808052

T-test results for 'Y020' between S002VS=4 and S002VS=5:
T-statistic: 5.355582031531319
P-value: 8.946696874671204e-08

In [9]:
import pandas as pd
from scipy.stats import ttest_ind

selected_columns = ['S002VS', 'COUNTRY_ALPHA', 'Y020', 'Y010', 'X003', 'X001', 'X025', 'X025R', 'X047_WVS', 'X007', 'X026', 'X028', 'X045']
data = pd.read_csv("/Users/zeynepzulfikar/Downloads/WVS_TimeSeries_4_0.csv", sep=',', usecols=selected_columns)
turkey_df = data[data['COUNTRY_ALPHA'] == 'TUR']
turkey_df_cleaned = turkey_df.dropna(subset=['Y010', 'Y020'])

s002vs_5 = turkey_df_cleaned[turkey_df_cleaned['S002VS'] == 5]
s002vs_6 = turkey_df_cleaned[turkey_df_cleaned['S002VS'] == 6]

t_statistic_y010_5, p_value_y010_5 = ttest_ind(s002vs_5['Y010'], s002vs_6['Y010'])

t_statistic_y020_5, p_value_y020_5 = ttest_ind(s002vs_5['Y020'], s002vs_6['Y020'])

print(f"\nT-test results for 'Y010' between S002VS=5 and S002VS=6:")
print(f"T-statistic: {t_statistic_y010_5}")
print(f"P-value: {p_value_y010_5}")

print(f"\nT-test results for 'Y020' between S002VS=5 and S002VS=6:")
print(f"T-statistic: {t_statistic_y020_5}")
print(f"P-value: {p_value_y020_5}")

T-test results for 'Y010' between S002VS=5 and S002VS=6:
T-statistic: -0.3077454330264812
P-value: 0.7582978596117275

T-test results for 'Y020' between S002VS=5 and S002VS=6:
T-statistic: 2.027588571315351
P-value: 0.042692348472416916

In [10]:
import pandas as pd
from scipy.stats import ttest_ind

selected_columns = ['S002VS', 'COUNTRY_ALPHA', 'Y020', 'Y010', 'X003', 'X001', 'X025', 'X025R', 'X047_WVS', 'X007', 'X026', 'X028', 'X045']
data = pd.read_csv("/Users/zeynepzulfikar/Downloads/WVS_TimeSeries_4_0.csv", sep=',', usecols=selected_columns)
turkey_df = data[data['COUNTRY_ALPHA'] == 'TUR']
turkey_df_cleaned = turkey_df.dropna(subset=['Y010', 'Y020'])

s002vs_6 = turkey_df_cleaned[turkey_df_cleaned['S002VS'] == 6]
s002vs_7 = turkey_df_cleaned[turkey_df_cleaned['S002VS'] == 7]

t_statistic_y010_6, p_value_y010_6 = ttest_ind(s002vs_6['Y010'], s002vs_7['Y010'])

t_statistic_y020_6, p_value_y020_6 = ttest_ind(s002vs_6['Y020'], s002vs_7['Y020'])

print(f"\nT-test results for 'Y010' between S002VS=6 and S002VS=7:")
print(f"T-statistic: {t_statistic_y010_6}")
print(f"P-value: {p_value_y010_6}")

print(f"\nT-test results for 'Y020' between S002VS=6 and S002VS=7:")
print(f"T-statistic: {t_statistic_y020_6}")
print(f"P-value: {p_value_y020_6}")

T-test results for 'Y010' between S002VS=6 and S002VS=7:
T-statistic: -4.975172473957375
P-value: 6.795208384126547e-07

T-test results for 'Y020' between S002VS=6 and S002VS=7:
T-statistic: -5.254524296959381
P-value: 1.5620789127720299e-07

In [11]:
import pandas as pd
from scipy.stats import ttest_ind

selected_columns = ['S002VS', 'COUNTRY_ALPHA', 'Y020', 'Y010', 'X003', 'X001', 'X025', 'X025R', 'X047_WVS', 'X007', 'X026', 'X028', 'X045']
data = pd.read_csv("/Users/zeynepzulfikar/Downloads/WVS_TimeSeries_4_0.csv", sep=',', usecols=selected_columns)
turkey_df = data[data['COUNTRY_ALPHA'] == 'TUR']
turkey_df_cleaned = turkey_df.dropna(subset=['Y010', 'Y020'])

age_18_29 = turkey_df_cleaned[(turkey_df_cleaned['X003'] >= 18) & (turkey_df_cleaned['X003'] <= 29)]

s002vs_2_age_18_29 = age_18_29[age_18_29['S002VS'] == 2]
s002vs_3_age_18_29 = age_18_29[age_18_29['S002VS'] == 3]

t_statistic_y010_18_29, p_value_y010_18_29 = ttest_ind(s002vs_2_age_18_29['Y010'], s002vs_3_age_18_29['Y010'])
t_statistic_y020_18_29, p_value_y020_18_29 = ttest_ind(s002vs_2_age_18_29['Y020'], s002vs_3_age_18_29['Y020'])

print(f"\nT-test results for 'Y010' and 'Y020' for age group 18-29:")
print(f"T-statistic (Y010): {t_statistic_y010_18_29}, P-value (Y010): {p_value_y010_18_29}")
print(f"T-statistic (Y020): {t_statistic_y020_18_29}, P-value (Y020): {p_value_y020_18_29}")

T-test results for 'Y010' and 'Y020' for age group 18-29:
T-statistic (Y010): -1.8861107804085548, P-value (Y010): 0.05959756866285718
T-statistic (Y020): 0.7199486707775417, P-value (Y020): 0.47174106149538997

In [12]:
import pandas as pd
from scipy.stats import ttest_ind

selected_columns = ['S002VS', 'COUNTRY_ALPHA', 'Y020', 'Y010', 'X003', 'X001', 'X025', 'X025R', 'X047_WVS', 'X007', 'X026', 'X028', 'X045']
data = pd.read_csv("/Users/zeynepzulfikar/Downloads/WVS_TimeSeries_4_0.csv", sep=',', usecols=selected_columns)
turkey_df = data[data['COUNTRY_ALPHA'] == 'TUR']
turkey_df_cleaned = turkey_df.dropna(subset=['Y010', 'Y020'])

age_18_29 = turkey_df_cleaned[(turkey_df_cleaned['X003'] >= 18) & (turkey_df_cleaned['X003'] <= 29)]

s002vs_2_age_18_29_3 = age_18_29[age_18_29['S002VS'] == 3]
s002vs_3_age_18_29_4 = age_18_29[age_18_29['S002VS'] == 4]

t_statistic_y010_18_29_3, p_value_y010_18_29_3 = ttest_ind(s002vs_2_age_18_29_3['Y010'], s002vs_3_age_18_29_4['Y010'])
t_statistic_y020_18_29_3, p_value_y020_18_29_3 = ttest_ind(s002vs_2_age_18_29_3['Y020'], s002vs_3_age_18_29_4['Y020'])

print(f"\nT-test results for 'Y010' and 'Y020' for age group 18-29:")
print(f"T-statistic (Y010): {t_statistic_y010_18_29_3}, P-value (Y010): {p_value_y010_18_29_3}")
print(f"T-statistic (Y020): {t_statistic_y020_18_29_3}, P-value (Y020): {p_value_y020_18_29_3}")

T-test results for 'Y010' and 'Y020' for age group 18-29:
T-statistic (Y010): 0.9465477457480873, P-value (Y010): 0.3440010881620862
T-statistic (Y020): 1.8133233385922878, P-value (Y020): 0.06995468545916227

In [13]:
import pandas as pd
from scipy.stats import ttest_ind

selected_columns = ['S002VS', 'COUNTRY_ALPHA', 'Y020', 'Y010', 'X003', 'X001', 'X025', 'X025R', 'X047_WVS', 'X007', 'X026', 'X028', 'X045']
data = pd.read_csv("/Users/zeynepzulfikar/Downloads/WVS_TimeSeries_4_0.csv", sep=',', usecols=selected_columns)
turkey_df = data[data['COUNTRY_ALPHA'] == 'TUR']
turkey_df_cleaned = turkey_df.dropna(subset=['Y010', 'Y020'])

age_18_29 = turkey_df_cleaned[(turkey_df_cleaned['X003'] >= 18) & (turkey_df_cleaned['X003'] <= 29)]

s002vs_2_age_18_29_4 = age_18_29[age_18_29['S002VS'] == 4]
s002vs_3_age_18_29_5 = age_18_29[age_18_29['S002VS'] == 5]

t_statistic_y010_18_29_4, p_value_y010_18_29_4 = ttest_ind(s002vs_2_age_18_29_4['Y010'], s002vs_3_age_18_29_5['Y010'])
t_statistic_y020_18_29_4, p_value_y020_18_29_4 = ttest_ind(s002vs_2_age_18_29_4['Y020'], s002vs_3_age_18_29_5['Y020'])

print(f"\nT-test results for 'Y010' and 'Y020' for age group 18-29:")
print(f"T-statistic (Y010): {t_statistic_y010_18_29_4}, P-value (Y010): {p_value_y010_18_29_4}")
print(f"T-statistic (Y020): {t_statistic_y020_18_29_4}, P-value (Y020): {p_value_y020_18_29_4}")

T-test results for 'Y010' and 'Y020' for age group 18-29:
T-statistic (Y010): 1.92672830191307, P-value (Y010): 0.054175811132714864
T-statistic (Y020): 3.361207372908844, P-value (Y020): 0.0007927835061910068

In [14]:
import pandas as pd
from scipy.stats import ttest_ind

selected_columns = ['S002VS', 'COUNTRY_ALPHA', 'Y020', 'Y010', 'X003', 'X001', 'X025', 'X025R', 'X047_WVS', 'X007', 'X026', 'X028', 'X045']
data = pd.read_csv("/Users/zeynepzulfikar/Downloads/WVS_TimeSeries_4_0.csv", sep=',', usecols=selected_columns)
turkey_df = data[data['COUNTRY_ALPHA'] == 'TUR']
turkey_df_cleaned = turkey_df.dropna(subset=['Y010', 'Y020'])

age_18_29 = turkey_df_cleaned[(turkey_df_cleaned['X003'] >= 18) & (turkey_df_cleaned['X003'] <= 29)]

s002vs_2_age_18_29_5 = age_18_29[age_18_29['S002VS'] == 5]
s002vs_3_age_18_29_6 = age_18_29[age_18_29['S002VS'] == 6]

t_statistic_y010_18_29_5, p_value_y010_18_29_5 = ttest_ind(s002vs_2_age_18_29_5['Y010'], s002vs_3_age_18_29_6['Y010'])
t_statistic_y020_18_29_5, p_value_y020_18_29_5 = ttest_ind(s002vs_2_age_18_29_5['Y020'], s002vs_3_age_18_29_6['Y020'])

print(f"\nT-test results for 'Y010' and 'Y020' for age group 18-29:")
print(f"T-statistic (Y010): {t_statistic_y010_18_29_5}, P-value (Y010): {p_value_y010_18_29_5}")
print(f"T-statistic (Y020): {t_statistic_y020_18_29_5}, P-value (Y020): {p_value_y020_18_29_5}")

T-test results for 'Y010' and 'Y020' for age group 18-29:
T-statistic (Y010): -0.6422231759121926, P-value (Y010): 0.5208686096855888
T-statistic (Y020): 1.3969339492655424, P-value (Y020): 0.16272887188483917

In [15]:
import pandas as pd
from scipy.stats import ttest_ind

selected_columns = ['S002VS', 'COUNTRY_ALPHA', 'Y020', 'Y010', 'X003', 'X001', 'X025', 'X025R', 'X047_WVS', 'X007', 'X026', 'X028', 'X045']
data = pd.read_csv("/Users/zeynepzulfikar/Downloads/WVS_TimeSeries_4_0.csv", sep=',', usecols=selected_columns)
turkey_df = data[data['COUNTRY_ALPHA'] == 'TUR']
turkey_df_cleaned = turkey_df.dropna(subset=['Y010', 'Y020'])

age_18_29 = turkey_df_cleaned[(turkey_df_cleaned['X003'] >= 18) & (turkey_df_cleaned['X003'] <= 29)]

s002vs_2_age_18_29_6 = age_18_29[age_18_29['S002VS'] == 6]
s002vs_3_age_18_29_7 = age_18_29[age_18_29['S002VS'] == 7]

t_statistic_y010_18_29_6, p_value_y010_18_29_6 = ttest_ind(s002vs_2_age_18_29_6['Y010'], s002vs_3_age_18_29_7['Y010'])
t_statistic_y020_18_29_6, p_value_y020_18_29_6 = ttest_ind(s002vs_2_age_18_29_6['Y020'], s002vs_3_age_18_29_7['Y020'])

print(f"\nT-test results for 'Y010' and 'Y020' for age group 18-29:")
print(f"T-statistic (Y010): {t_statistic_y010_18_29_6}, P-value (Y010): {p_value_y010_18_29_6}")
print(f"T-statistic (Y020): {t_statistic_y020_18_29_6}, P-value (Y020): {p_value_y020_18_29_6}")

T-test results for 'Y010' and 'Y020' for age group 18-29:
T-statistic (Y010): -0.9626365597607757, P-value (Y010): 0.3359251801515122
T-statistic (Y020): -1.4462291287471167, P-value (Y020): 0.14837582706860725